.dataContainer {
  height: 100%;
  display: grid;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
  align-content: space-between;
}
.iconContainer {
  display: grid;
  justify-content: center;
  gap: 1rem;
  margin: 1rem auto;
  text-align: center;
}
.iconData,
.iconBall,
.iconCalander,
.iconOrder,
.iconOpen,
.iconHistoric,
.iconForecast,
.iconNotifications {
  height: 45px;
  width: 45px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 200ms ease-in-out;
  &:hover {
    cursor: pointer;
  }
}
.iconBall {
  margin-left: 1px;
}

.iconData {
  background-image: url(../../../assets/datamenu/data.svg);
  &:hover {
    background-image: url(../../../assets/datamenu/dataRed.svg);
  }
}

.Crosshair {
  height: 42px;
  width: 42px;
  margin: 0 auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 200ms ease-in-out;
}

.Crosshair {
  transform: rotate(45deg);
  background-image: url(../../../assets/datamenu/cursor.svg);
  &:hover {
    transform: rotate(45deg);
    background-image: url(../../../assets/datamenu/cursorRed.svg);
  }
}

.iconBall {
  background-image: url(../../../assets/datamenu/ball.svg);
  &:hover {
    background-image: url(../../../assets/datamenu/ballRed.svg);
  }
}
.iconCalander {
  background-image: url(../../../assets/datamenu/calendar.svg);
  &:hover {
    background-image: url(../../../assets/datamenu/calendarRed.svg);
  }
}
.iconOrder {
  background-image: url(../../../assets/datamenu/book.svg);
  &:hover {
    background-image: url(../../../assets/datamenu/bookRed.svg);
  }
}
.iconHistoric {
  background-image: url(../../../assets/datamenu/news.svg);
  &:hover {
    background-image: url(../../../assets/datamenu/newsRed.svg);
  }
}
.iconNotifications {
  background-image: url(../../../assets/datamenu/notification.svg);
  &:hover {
    background-image: url(../../../assets/datamenu/notificationRed.svg);
  }
}
.iconForecast {
  background-image: url(../../../assets/datamenu/finacials.svg);
  &:hover {
    background-image: url(../../../assets/datamenu/finacialsRed.svg);
  }
}
.iconOpen {
  background-image: url(../../../assets/datamenu/pen.svg);
  &:hover {
    background-image: url(../../../assets/datamenu/penRed.svg);
  }
}

/* views */

.dataWindow {
  padding: 0.5rem;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Calander */

.view {
  overflow-y: scroll;
  max-height: 88vh;
}
.view::-webkit-scrollbar {
  display: none;
}

.accordion_item {
  overflow: hidden;
  font-size: 14px;
}
.accordion_header {
  display: grid;
  gap: 3px;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}

.accordion_header:hover {
  background: var(--clr-grey);
  border-radius: 10px;
}

.accordion_content {
  padding: 20px;
  border-radius: 5px;
}

.title {
  padding-right: 0.5rem;
  font-family: var(--ff-serif);
}
.titles {
  padding-left: 0.5rem;
  font-family: var(--ff-serif);
}

.date_selector {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 10px;
  font-size: 16px;
  margin-bottom: 15px;
}

input[type='date'] {
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 50px;
  background-color: var(--clr-grey);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

input[type='date']:hover,
input[type='date']:focus {
  border-color: var(--clr-primary);
  outline: none;
}

/* Data slides */
.dataBox {
  padding: 0.5rem 2rem;
  font-size: 14px;
  margin-top: 5px;
  animation: fadeIn 0.4s ease-in forwards;
  line-height: 1.1;
}

.spacing {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.spacing_ticket {
  display: grid;
  gap: 5px;
  justify-content: space-between;
  margin: 5px;
}

.error {
  color: red;
  font-weight: bold;
}
.loader_container {
  padding-left: 1rem;
}

.divider {
  width: 100%;
  border: none;
  border-top: 1px solid var(--clr-lightgrey);
  margin: 10px 0;
}

.bullish {
  color: var(--clr-green);
}
.bearish {
  color: var(--clr-red);
}
.neutral {
  color: #ffa500;
}

.grid {
  display: grid;
  gap: 0.1rem;
}

.input_type {
  border: none;
  background-color: var(--clr-background);
  color: var(--clr-white);
  height: 40px;
  border-radius: 50px;
  padding: 0.6rem;
  margin-bottom: 1rem;
}

.orderBox {
  display: grid;
  gap: 0.5rem;
}

.toggleWrapper {
  margin-bottom: 1rem;
  text-align: center;
  font-size: var(--fs-300);
}

.hint {
  font-size: 0.75rem;
  color: var(--clr-white);
  margin-bottom: 1rem;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
