/* Historic */

.container {
  overflow: hidden;
  position: relative;
  padding: 1rem;
  opacity: 0.2;
  transform: translateY(10px);
}

.title {
  margin-bottom: 1rem;
  text-align: center;
  font-size: var(--fs-300);
}

.modeLabel {
  font-family: var(--ff-serif);
  font-size: var(--fs--300);
}

.histogramWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 10px;
  max-width: 400px;
}

.axisLabel {
  font-weight: bold;
  margin: 5px 0 5px;
  text-transform: uppercase;
  color: #4f4f4f;
}

.barRow {
  display: flex;
  font-size: var(--fs--300);
  color: var(--clr-white);
  align-items: center;
  gap: 10px;
}

.barLabel {
  width: 40px;
  text-align: right;
  font-size: var(--fs--300);
}

.bar {
  height: 20px;
  line-height: 20px;
  padding-left: 5px;
  color: var(--clr-white);
  border-radius: 3px;
  font-size: 12px;
  max-width: 180px;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.8s ease-in-out, background-color 2s ease;
}

.profit {
  background-color: var(--clr-green);
}

.loss {
  background-color: var(--clr-red);
}

.summaryBox {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 6px;
  font-size: var(--fs--300);
}
.summaryBox p {
  display: grid;
}

.greenText {
  color: var(--clr-green);
  font-weight: bold;
}

.redText {
  color: var(--clr-red);
  font-weight: bold;
}

.fadeIn {
  animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
