.notfound_container {
  align-content: center;
  text-align: center;
}
.title {
  font-size: var(--fs-900);
  line-height: 55px;
  letter-spacing: 3px;
}
.subtitle {
  font-size: var(--fs-500);
  margin-bottom: 2.5rem;
}
