.header {
  width: 100%;
  position: block;
  z-index: 1;
}
.navContainer {
  justify-content: flex-end;

  background-color: hsl(from var(--clr-userscreens) h s l / 0.9);
  backdrop-filter: blur(4px);
  border: 1px solid var(--clr-bordercolor);
  display: flex;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
}
.navIcon {
  height: 45px;
  width: 45px;
  background-image: url(../../../assets/header/menu.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 200ms ease-in-out;
  cursor: pointer;
  &:hover {
    background-image: url(../../../assets/header/menuGreen.svg);
  }
}

.modeContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 0.5rem;
}

.modeLoggleWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.modeSwitch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.modeSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.modeSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--clr-green);
  transition: 0.4s;
  border-radius: 34px;
}

.modeSlider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: var(--clr-white);
  transition: 0.4s;
  border-radius: 50%;
}

.modeSwitch input:checked + .modeSlider {
  background-color: var(--clr-red);
}

.modeSwitch input:checked + .modeSlider:before {
  transform: translateX(26px);
}

.modeLabel {
  padding: 2px 10px 0 0;
  color: var(--clr-white);
  text-transform: capitalize;
  font-size: var(--fs-300);
}
