.subChartContainer {
  width: 100%;
  height: 70px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
}

.bbStep {
  position: relative;
  width: 8px;
  height: 100%;
  flex-shrink: 0;
}

.bbFill {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 115, 255, 0.3);
  border-radius: 5px;
}

.bbMavg {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 8, 0, 0.7);
  left: 0;
  transform: translateY(50%);
  z-index: 2; /* Sits ON TOP of the fill area */
}
