.emaContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.emaChart {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.emaPoint {
  width: 8px;
  height: 2px;
  position: absolute;
  background-color: var(--clr-orange);
  opacity: 0.8;
  transition: height 0.2s ease-in-out;
}
.noData {
  font-family: var(--ff-sans);
}
