.indicatorsContainer {
  width: 100%;
  height: 60px;
  overflow-y: hidden;
  position: relative;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.indicatorsContainer::-webkit-scrollbar {
  display: none;
}

.indicatorContent {
  position: relative;
  margin-right: 50px;
  width: 100%;
  height: 100%;
}
