.smaContainer {
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: relative;
}

.smaChart {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  position: relative;
}

.smaPoint {
  width: 8px;
  position: absolute;
  height: 2px;
  background-color: var(--clr-green);
  opacity: 0.8;
  transition: height 0.2s ease-in-out;
}

.noData {
  font-family: var(--ff-sans);
}
