.price_bar_container {
  display: flex;
  font-size: 12px;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  height: 100%;
  width: 50px;
  padding-left: 5px;
}

.price_labels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  width: 100%;
}

.current_label {
  position: absolute;
  transform: translateY(-50%);
  font-weight: bold;
  background-color: #2196f3;
  color: var(--clr-background);
  padding: 0px 3px;
  border-radius: 5px;
}

.price_step {
  font-size: 12px;
  color: hsl(from var(--clr-white) h s l / 0.3);
}
