.trend_chart_container {
  position: relative;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 35px 1fr;
  overflow: hidden;
}

.chart_ticker {
  display: grid;
  align-content: center;
  padding-left: 1.3rem;
  grid-area: 1 / 1 / 2 / 2;
}
.ticker_flex {
  display: flex;
  color: var(--clr-white);
  gap: 1rem;
}

.chart_container {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.chart_container::-webkit-scrollbar {
  display: none;
}

.candle_container {
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: fit-content;
  overflow-y: hidden;
  margin-right: 50px;
}

.candle {
  min-width: 8px;
  display: flex;
  font-size: 12px;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  position: relative;
  height: 100%;
  border-top: 1px solid var(--clr-lightgrey);
  border-bottom: 1px solid var(--clr-lightgrey);
}

.wick {
  position: absolute;
  width: 1px;
  background-color: var(--clr-lightgrey);
  left: 50%;
  transform: translateX(-50%);
}

.times {
  position: relative;
  display: flex;
  height: 42px;
  padding: 10px 0;
}

.hiddenTime {
  visibility: hidden;
  height: 10px;
  width: 8px;
  display: inline-block;
}

.visibleTime {
  visibility: visible;
  width: 8px;
  height: 16px;
  border-left: 1px solid var(--clr-lightgrey);
  padding-left: 3px;
  font-size: 12px;
  opacity: 0.8;
  display: inline-block;
}

.candleBody {
  width: 8px;
  border-radius: 2px;
  position: absolute;
}

.greenCandle {
  background-color: var(--clr-green);
}

.redCandle {
  background-color: var(--clr-red);
}

.crosshair_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}
.crosshair_h {
  position: absolute;
  margin-top: 116px;
  width: 100%;
  height: 1px;
  background-color: var(--clr-red);
  pointer-events: none;
}

.crosshair_v {
  position: absolute;
  margin-left: -1px;
  width: 1px;
  height: 100%;
  background-color: var(--clr-red);
  pointer-events: none;
}

/* Events */

.timeline_container {
  position: relative;
  height: 20px;
}

.times {
  display: flex;
  align-items: center;
  height: 100%;
}

.events_overlay {
  position: absolute;
  bottom: 22px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.eventStack {
  position: absolute;
  bottom: 1px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 3px;
  pointer-events: all;
}
