.trendWindow {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 65px;
  grid-template-rows: 1fr;
  overflow: hidden;
  border-radius: 5px;
}

.trend_container {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.price_bar_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: 1 / 2 / 2 / 3;
}

.spacer {
  border-radius: 5px;
  width: 50px;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  height: 150px;
}

.spacer:nth-child(1) {
  height: 52px;
}

.input {
  border: none;
  background-color: var(--clr-background);
  color: var(--clr-white);
  height: 30px;
  border-radius: 5px;
  margin: auto 0;
}
.input:focus {
  outline: none;
}
